doctype html
html(lang="en")
	head
		title Sinapsis
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width", initial-scale=1)
		link(rel="stylesheet", type="text/css", href="css/foundation.css")
		link(rel="stylesheet", type="text/css", href="foundation-icons/foundation-icons.css")
		link(rel="stylesheet", type="text/css", href="css/mystyle.css")
	body
		{{content}}
