<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sinapsis</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" initial-scale="1">
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/style.css">
	</head>
	<body>
		<container>
			<header>
				<h1>Explore with us!</h1>
				{% include nav.html %}
			</header>
			{{content}}
			<footer>
				<h1>Explore with us!</h1>
				{% include nav.html %}
				<p>&copy; | 2015 | Gema Buj</p>
			</footer>
		</container>
	</body>
</html>